.step {
    padding-top: 70px;
    padding-bottom: 60px;

    &__top,
    &__bottom {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;


    }


    &__h3 {
        margin-top: 40px;
        font-size: 30px;
        line-height: 36px;
    }

    &__p {
        width: 462px;
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
    }

}

@media(min-width:768px)and(max-width:1024px) {
    .step {
        padding-left: 5%;
        padding-right: 5%;

        &__top,
        &__bottom {
            justify-content: space-around;
        }

        &__h3 {
            margin-top: 40px;
            font-size: 26px;
            line-height: 31px;
        }

        &__p {
            width: 270px;
            margin-top: 10px;
            font-size: 16px;
            line-height: 19px;
        }

        &__img {
            width: 281px;
            height: 190px;
        }
    }
}

@media(min-width:425px)and(max-width:767px) {
    .step {
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 5%;
        padding-right: 5%;

        &__top,
        &__bottom {
            flex-direction: column;
            align-items: center;
        }

        &__h3 {
            margin-top: 40px;
            font-size: 26px;
            line-height: 31px;
        }

        &__p {
            width: 270px;
            margin-top: 10px;
            font-size: 16px;
            line-height: 19px;
        }

        &__img {
            width: 350px;
            height: 250px;
        }

        &__block {
            margin-top: 15px;
        }
    }
}

@media(min-width:375px)and(max-width:424px) {
    .step {
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 5%;
        padding-right: 5%;

        &__top,
        &__bottom {
            flex-direction: column;
            align-items: center;
        }

        &__h3 {
            margin-top: 40px;
            font-size: 26px;
            line-height: 31px;
        }

        &__p {
            width: 270px;
            margin-top: 10px;
            font-size: 16px;
            line-height: 19px;
        }

        &__img {
            width: 310px;
            height: 210px;
        }

        &__block {
            margin-top: 15px;
        }
    }
}
@media(min-width:320px)and(max-width:374px){
    .step {
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 5%;
        padding-right: 5%;

        &__top,
        &__bottom {
            flex-direction: column;
            align-items: center;
        }

        &__h3 {
            margin-top: 40px;
            font-size: 23px;
            line-height: 26px;
        }

        &__p {
            width: 270px;
            margin-top: 10px;
            font-size: 13px;
            line-height: 15px;
        }

        &__img {
            width: 280px;
            height: 190px;
        }

        &__block {
            margin-top: 15px;
        }
    }
}