@charset "UTF-8";
@font-face {
  font-family: 'Myriad Pro';
  src: url("fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("fonts/MyriadPro-Regular.woff") format("woff"), url("fonts/MyriadPro-Regular.ttf") format("truetype"), url("fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Myriad Pro', sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

ul li {
  list-style-type: none;
}

.button {
  height: 48px;
  width: 360px;
  border-radius: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: #008DCD;
  color: white;
}

.button:hover {
  background-color: #00A9FF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:active {
  background-color: #94D1EC;
}

.mobile__menu {
  display: none;
}

.h2 {
  font-size: 36px;
  line-height: 43px;
}

.fas {
  cursor: pointer;
}

.nav__li {
  font-size: 18px;
  line-height: 22px;
}

.nav__li:not(:last-child) {
  margin-right: 60px;
}

.nav__li a {
  color: black;
}

.nav__li a:hover {
  color: #FF4700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header {
  background-image: url(img/header/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 525px;
}

.header .nav__li_header a {
  color: white;
}

.header .nav__li_header a:hover {
  color: #FFC6C4;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 29px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__h1 {
  width: 740px;
  font-size: 48px;
  line-height: 58px;
  margin-top: 88px;
  color: white;
}

.header__h2 {
  width: 380px;
  color: white;
  font-size: 36px;
  line-height: 43px;
  margin-top: 22px;
}

.header__button {
  margin-top: 35px;
}

.header .mobile-menu {
  display: none;
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
    background-position-x: -160px;
  }
  .nav__li:not(:last-child) {
    font-size: 16px;
    line-height: 31px;
    margin-right: 32px;
  }
}

@media (min-width: 1024px) and (max-width: 1099px) {
  .header {
    background-position-x: -290px;
  }
  .header__top {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .nav__li {
    font-size: 16px;
    line-height: 41px;
  }
  .header .nav__li:not(:last-child) {
    margin-right: 34px;
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .center {
    padding-left: calc(50% - 420px);
    padding-right: calc(50% - 420px);
  }
  .header {
    background-position-x: -350px;
  }
  .header .nav__li {
    font-size: 15px;
    line-height: 46px;
  }
  .header .nav__li:not(:last-child) {
    margin-right: 25px;
  }
  .header__h1 {
    font-size: 43px;
    line-height: 45px;
  }
  .header__h2 {
    font-size: 33px;
    line-height: 35px;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .header {
    background-position-x: -470px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .header__logo {
    height: 29px;
    width: 100px;
    margin-right: 40px;
  }
  .header .nav__li {
    font-size: 14px;
    line-height: 17px;
  }
  .header .nav__li:not(:last-child) {
    margin-right: 28px;
  }
  .header__h1 {
    width: 400px;
    font-size: 44px;
    line-height: 53px;
  }
  .header__h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .header__button {
    height: 48px;
    width: 280px;
  }
}

@media (min-width: 700px) and (max-width: 767px) {
  .header {
    background-position-x: -528px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .header .nav ul {
    display: none;
  }
  .header__logo {
    height: 29px;
    width: 100px;
    margin-right: 40px;
  }
  .header__li {
    font-size: 14px;
    line-height: 17px;
    margin-right: 30px;
  }
  .header__h1 {
    width: 400px;
    font-size: 44px;
    line-height: 53px;
  }
  .header__h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .header__button {
    height: 48px;
    width: 280px;
  }
  .mobile__menu {
    display: block;
  }
}

@media (min-width: 550px) and (max-width: 699px) {
  .header {
    background-position-x: -660px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .header .nav ul {
    display: none;
  }
  .header__logo {
    height: 29px;
    width: 100px;
    margin-right: 40px;
  }
  .header__li {
    font-size: 14px;
    line-height: 17px;
    margin-right: 30px;
  }
  .header__h1 {
    width: 400px;
    font-size: 44px;
    line-height: 53px;
  }
  .header__h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .header__button {
    height: 48px;
    width: 280px;
  }
  .mobile__menu {
    display: block;
  }
}

@media (min-width: 425px) and (max-width: 549px) {
  .header {
    background-position-x: -784px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .header .nav ul {
    display: none;
  }
  .header__logo {
    height: 29px;
    width: 100px;
    margin-right: 40px;
  }
  .header__li {
    font-size: 14px;
    line-height: 17px;
    margin-right: 30px;
  }
  .header__h1 {
    width: 340px;
    font-size: 30px;
    line-height: 35px;
  }
  .header__h2 {
    font-size: 20px;
    line-height: 3px;
  }
  .header__button {
    height: 48px;
    width: 210px;
  }
  .mobile__menu {
    display: block;
    height: 25px;
  }
  .mobile__img {
    height: 25px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .header {
    height: 497px;
    background-image: url(img/header/bg2.png);
    background-size: contain;
    padding-left: 5%;
    padding-right: 5%;
  }
  .header .nav ul {
    display: none;
  }
  .header__logo {
    height: 29px;
    width: 100px;
    margin-right: 40px;
  }
  .header__li {
    font-size: 14px;
    line-height: 17px;
    margin-right: 30px;
  }
  .header__bottom {
    padding-top: 173px;
  }
  .header__h1 {
    color: black;
    width: 280px;
    font-size: 32px;
    line-height: 38px;
  }
  .header__h2 {
    color: black;
    margin-top: 2px;
    width: 280px;
    font-size: 24px;
    line-height: 29px;
  }
  .header__button {
    margin-top: 10px;
    height: 48px;
    width: 210px;
  }
  .mobile__menu {
    display: block;
  }
}

.about {
  background: #F7F7F7;
  padding-top: 90px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__h2 {
  width: 400px;
  font-size: 36px;
  line-height: 43px;
}

.about__p {
  margin-top: 25px;
  font-size: 16px;
  line-height: 19px;
  width: 425px;
}

.about__button {
  margin-top: 40px;
}

@media (min-width: 320px) and (max-width: 425px) {
  .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }
  .about__img {
    width: 278px;
    height: 141px;
  }
  .about__h2 {
    width: 278px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 22px;
  }
  .about__p {
    font-size: 12px;
    line-height: 14px;
    width: 278px;
    font-weight: normal;
  }
  .about__button {
    width: 248px;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .about {
    padding-top: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }
  .about__img {
    width: 400px;
    height: 190px;
  }
  .about__h2 {
    width: 314px;
    margin-top: 15px;
    font-size: 32px;
    line-height: 31px;
  }
  .about__p {
    font-size: 15px;
    line-height: 17px;
    width: 334px;
  }
  .about__button {
    width: 248px;
  }
}

@media (min-width: 768px) and (max-width: 950px) {
  .about {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-right: 5%;
    padding-left: 5%;
  }
  .about__h2 {
    position: absolute;
    font-size: 36px;
    line-height: 43px;
    width: 500px;
    top: 42px;
  }
  .about__p {
    width: 280px;
    font-size: 14px;
    line-height: 17px;
  }
  .about__img {
    width: 398px;
    height: 202px;
  }
  .about__button {
    width: 276px;
  }
}

@media (min-width: 951px) and (max-width: 1024px) {
  .about {
    padding-left: 5%;
    padding-right: 5%;
  }
  .about__img {
    width: 440px;
    height: 260px;
  }
  .about__h1 {
    width: 350px;
    font-size: 32px;
    line-height: 34px;
  }
  .about__p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 19px;
    width: 390px;
  }
}

@media (min-width: 1025px) and (max-width: 1210px) {
  .about__img {
    width: 500px;
  }
}

.step {
  padding-top: 70px;
  padding-bottom: 60px;
}

.step__top, .step__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.step__h3 {
  margin-top: 40px;
  font-size: 30px;
  line-height: 36px;
}

.step__p {
  width: 462px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .step {
    padding-left: 5%;
    padding-right: 5%;
  }
  .step__top, .step__bottom {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .step__h3 {
    margin-top: 40px;
    font-size: 26px;
    line-height: 31px;
  }
  .step__p {
    width: 270px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
  }
  .step__img {
    width: 281px;
    height: 190px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .step {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .step__top, .step__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .step__h3 {
    margin-top: 40px;
    font-size: 26px;
    line-height: 31px;
  }
  .step__p {
    width: 270px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
  }
  .step__img {
    width: 350px;
    height: 250px;
  }
  .step__block {
    margin-top: 15px;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .step {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .step__top, .step__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .step__h3 {
    margin-top: 40px;
    font-size: 26px;
    line-height: 31px;
  }
  .step__p {
    width: 270px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
  }
  .step__img {
    width: 310px;
    height: 210px;
  }
  .step__block {
    margin-top: 15px;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .step {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .step__top, .step__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .step__h3 {
    margin-top: 40px;
    font-size: 23px;
    line-height: 26px;
  }
  .step__p {
    width: 270px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 15px;
  }
  .step__img {
    width: 280px;
    height: 190px;
  }
  .step__block {
    margin-top: 15px;
  }
}

.concerns {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px;
  background: #F7F7F7;
  background-size: cover;
}

.concerns__h2 {
  font-size: 36px;
  line-height: 43px;
}

@media (min-width: 768px) and (max-width: 900px) {
  .concerns {
    padding-left: 5%;
    padding-right: 5%;
  }
  .concerns__h2 {
    width: 380px;
  }
  .concerns__button {
    width: 280px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .concerns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 161px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .concerns__h2 {
    width: 278px;
    font-size: 24px;
    line-height: 29px;
  }
  .concerns__button {
    width: 278px;
    height: 48px;
    margin-bottom: 20px;
  }
}

.reviews {
  padding-bottom: 40px;
}

.reviews__h2 {
  margin-top: 60px;
  margin-bottom: 45px;
  font-size: 36px;
  line-height: 43px;
}

.reviews__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__h3 {
  font-size: 36px;
  line-height: 43px;
}

.reviews__company {
  font-size: 20px;
  line-height: 24px;
  margin-top: 11px;
}

.reviews__parcel {
  margin-top: 15px;
}

.reviews__parcel, .reviews__from, .reviews__to {
  font-size: 16px;
  line-height: 19px;
}

.reviews__from, .reviews__to {
  margin-top: 4px;
}

.reviews__review {
  margin-top: 26px;
  width: 440px;
}

.reviews__info {
  margin-left: 39px;
}

.fas {
  color: #C4C4C4;
  margin-top: 135px;
}

.fas:hover {
  color: #008DCD;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reviews {
    padding-left: 5%;
    padding-right: 5%;
  }
  .reviews__img {
    width: 120px;
    height: 120px;
  }
  .reviews__h3 {
    font-size: 26px;
    line-height: 31px;
  }
  .reviews__company {
    font-size: 18px;
    line-height: 22px;
  }
  .reviews__parcel, .reviews__from, .reviews__to {
    font-size: 16px;
    line-height: 12px;
  }
  .reviews__review {
    width: 280px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .reviews {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .reviews__img {
    width: 100px;
    height: 100px;
  }
  .reviews__h3 {
    font-size: 28px;
    line-height: 34px;
  }
  .reviews__company {
    font-size: 18px;
    line-height: 22px;
  }
  .reviews__parcel, .reviews__from, .reviews__to {
    font-size: 14px;
    line-height: 12px;
  }
  .reviews__review {
    width: 300px;
  }
  .reviews__right {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .reviews {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .reviews__img {
    width: 100px;
    height: 100px;
  }
  .reviews__h2 {
    font-size: 28px;
    margin-top: 20px;
  }
  .reviews__h3 {
    font-size: 28px;
    line-height: 34px;
  }
  .reviews__company {
    font-size: 18px;
    line-height: 22px;
  }
  .reviews__parcel, .reviews__from, .reviews__to {
    font-size: 10px;
    line-height: 12px;
  }
  .reviews__review {
    width: 230px;
    font-size: 12px;
    line-height: 14px;
  }
  .reviews__right {
    display: none;
  }
}

.advantages {
  height: 496px;
  background-color: #F7F7F7;
  padding-bottom: 80px;
  padding-top: 25px;
}

.advantages__h2 {
  margin-top: 80px;
}

.advantages__descr {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__p {
  width: 160px;
  margin-top: 34px;
}

.advantages__block {
  text-align: center;
}

.advantages__img {
  margin-top: 57px;
}

.advantages .img__block {
  width: 160px;
  height: 160px;
  background-color: white;
  border-radius: 50%;
}

@media (min-width: 900px) and (max-width: 1200px) {
  .advantages {
    padding-left: 5%;
    padding-right: 5%;
    height: 410px;
  }
  .advantages__h2 {
    margin-top: 30px;
  }
  .advantages .img__block {
    width: 120px;
    height: 120px;
  }
  .advantages__img {
    margin-top: 35px;
  }
  .advantages__p {
    width: 120px;
    font-size: 15px;
    line-height: 16px;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .advantages {
    padding-left: 5%;
    padding-right: 5%;
    height: 360px;
  }
  .advantages__h2 {
    margin-top: 30px;
  }
  .advantages .img__block {
    width: 100px;
    height: 100px;
  }
  .advantages__img {
    margin-top: 30px;
  }
  .advantages__p {
    width: 100px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .advantages {
    height: 430px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .advantages__descr {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__block {
    margin-right: 15px;
  }
  .advantages__h2 {
    margin-top: 10px;
    font-size: 30px;
  }
  .advantages__p {
    margin-top: 20px;
  }
  .advantages .img__block {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
  .advantages__img {
    margin-top: 30px;
  }
  .advantages__p {
    width: 100px;
    font-size: 10px;
    line-height: 12px;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .advantages {
    padding-left: 5%;
    padding-right: 5%;
    height: 440px;
  }
  .advantages__descr {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__block {
    margin-right: 15px;
  }
  .advantages__h2 {
    width: 280px;
    font-size: 28px;
    line-height: 34px;
    margin-top: 0;
  }
  .advantages__img {
    margin-top: 22px;
  }
  .advantages .img__block {
    width: 85px;
    height: 85px;
  }
  .advantages__block {
    margin-top: 15px;
  }
  .advantages__p {
    margin-top: 17px;
    width: 86px;
    font-size: 10px;
    line-height: 12px;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .advantages {
    padding-left: 5%;
    padding-right: 5%;
    height: 440px;
  }
  .advantages__descr {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__block {
    margin-right: 7px;
  }
  .advantages__h2 {
    width: 280px;
    font-size: 28px;
    line-height: 34px;
    margin-top: 0;
  }
  .advantages__img {
    margin-top: 22px;
  }
  .advantages .img__block {
    width: 75px;
    height: 75px;
  }
  .advantages__block {
    margin-top: 15px;
  }
  .advantages__p {
    margin-top: 17px;
    width: 86px;
    font-size: 10px;
    line-height: 12px;
  }
}

.guarantees {
  padding-bottom: 64px;
}

.guarantees__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guarantees__arrow {
  display: none;
}

.guarantees__h2 {
  margin-top: 80px;
}

.guarantees .picture__block {
  width: 160px;
  height: 160px;
  background-color: #F7F7F7;
  margin-top: 27px;
  border-radius: 50%;
  text-align: center;
}

.guarantees__img {
  margin-top: 48px;
}

.guarantees__h3 {
  font-size: 30px;
  line-height: 36px;
  margin-top: 32px;
}

.guarantees__p {
  width: 360px;
  height: 125px;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
}

@media (min-width: 900px) and (max-width: 1200px) {
  .guarantees {
    padding-left: 5%;
    padding-right: 5%;
  }
  .guarantees__descr {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .guarantees__h3 {
    font-size: 22px;
  }
  .guarantees__p {
    width: 250px;
    font-size: 14px;
  }
  .guarantees__button {
    width: 250px;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .guarantees {
    padding-left: 5%;
    padding-right: 5%;
  }
  .guarantees__descr {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .guarantees__h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .guarantees__p {
    width: 217px;
    font-size: 12px;
    line-height: 14px;
  }
  .guarantees__img {
    width: 46px;
    margin-top: 25px;
  }
  .guarantees__button {
    width: 220px;
  }
  .guarantees .picture__block {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .guarantees {
    padding-left: 5%;
    padding-right: 5%;
  }
  .guarantees__descr {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
  }
  .guarantees__h2 {
    margin-top: 30px;
    font-size: 30px;
  }
  .guarantees__block {
    position: relative;
  }
  .guarantees__h3 {
    margin-top: -70px;
    position: absolute;
    margin-left: 114px;
    width: 110px;
    font-size: 18px;
    line-height: 22px;
  }
  .guarantees__p {
    width: 240px;
    font-size: 16px;
    line-height: 20px;
  }
  .guarantees__img {
    width: 46px;
    margin-top: 25px;
  }
  .guarantees__button {
    width: 230px;
  }
  .guarantees__hidden {
    display: none;
  }
  .guarantees__arrow {
    display: block;
    position: absolute;
  }
  .guarantees__arrow_left {
    left: 50px;
    top: -65px;
  }
  .guarantees__arrow_right {
    right: 60px;
    top: -65px;
  }
  .guarantees .picture__block {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .guarantees {
    padding-bottom: 35px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .guarantees__descr {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
  }
  .guarantees__h2 {
    margin-top: 30px;
    font-size: 28px;
    line-height: 34px;
  }
  .guarantees__block {
    position: relative;
  }
  .guarantees__h3 {
    margin-top: -49px;
    position: absolute;
    margin-left: 85px;
    width: 110px;
    font-size: 16px;
    line-height: 19px;
  }
  .guarantees__p {
    width: 230px;
    font-size: 12px;
    line-height: 14px;
  }
  .guarantees__img {
    width: 32px;
    margin-top: 18px;
  }
  .guarantees__button {
    width: 230px;
  }
  .guarantees__hidden {
    display: none;
  }
  .guarantees__arrow {
    display: block;
    position: absolute;
  }
  .guarantees__arrow_left {
    left: 5px;
    top: -85px;
  }
  .guarantees__arrow_right {
    right: 55px;
    top: -86px;
  }
  .guarantees .picture__block {
    width: 62px;
    height: 62px;
  }
}

.doubts {
  height: 505px;
  background-color: #D2ECF7;
}

.doubts__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doubts__top {
  width: 550px;
  height: 64px;
  border-radius: 32px 32px 32px 32px;
  background-color: white;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  margin-top: 16px;
}

.doubts__bottom {
  position: absolute;
  width: 550px;
  height: 0px;
  border-radius: 0 0 32px 32px;
  background-color: #F7F7F7;
  font-size: 16px;
  line-height: 19px;
  z-index: 2;
  overflow: hidden;
}

.doubts__bottom_p {
  margin-top: 20px;
  margin-left: 30px;
}

.doubts__main.active .doubts__bottom {
  height: 115px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.doubts__main.active .doubts__top {
  border-radius: 32px 32px 0px 0px;
}

.doubts__main.active .doubts__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.doubts__arrow {
  top: 25px;
  left: 500px;
  position: absolute;
}

.doubts__main {
  position: relative;
}

.doubts__p {
  font-size: 16px;
  line-height: 19px;
  margin-left: 30px;
  padding-top: 15px;
  width: 450px;
}

.doubts__h2 {
  padding-top: 64px;
  margin-bottom: 24px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .doubts {
    height: 535px;
  }
  .doubts__top {
    width: 450px;
  }
  .doubts__p {
    font-size: 15px;
    line-height: 16px;
    width: 350px;
    margin-top: 25px;
    margin-left: 25px;
  }
  .doubts__arrow {
    left: 406px;
  }
  .doubts__bottom {
    line-height: 17px;
    font-size: 15px;
    width: 450px;
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .doubts {
    height: 535px;
  }
  .doubts__top {
    width: 410px;
  }
  .doubts__p {
    font-size: 15px;
    line-height: 16px;
    width: 340px;
    margin-top: 25px;
    margin-left: 25px;
  }
  .doubts__arrow {
    left: 377px;
  }
  .doubts__bottom {
    line-height: 17px;
    font-size: 15px;
    width: 410px;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .doubts {
    padding-left: 5%;
    padding-right: 5%;
    height: 470px;
  }
  .doubts__top {
    width: 320px;
  }
  .doubts__p {
    font-size: 12px;
    line-height: 15px;
    width: 250px;
  }
  .doubts__arrow {
    top: 27px;
    left: 288px;
  }
  .doubts__bottom {
    line-height: 16px;
    font-size: 12px;
    width: 320px;
    padding-left: 0px;
  }
  .doubts__h2 {
    padding-top: 45px;
    margin-bottom: 15px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .doubts {
    padding-left: 5%;
    padding-right: 5%;
    height: 790px;
  }
  .doubts__descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .doubts__top {
    width: 300px;
    height: 80px;
  }
  .doubts__p {
    font-size: 14px;
    line-height: 17px;
    width: 240px;
  }
  .doubts__arrow {
    top: 29px;
    left: 276px;
    height: 6px;
    width: 10px;
  }
  .doubts__bottom {
    line-height: 16px;
    font-size: 12px;
    width: 300px;
  }
  .doubts__bottom_p {
    line-height: 16px;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 22px;
  }
  .doubts__h2 {
    padding-top: 20px;
    width: 170px;
    margin-left: 45px;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 15px;
  }
  .doubts__main.active .doubts__bottom {
    height: 95px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}

.brands {
  height: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brands__box {
  position: relative;
  margin-top: 60px;
  width: 1016px;
  overflow: hidden;
}

.brands__slider {
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

.brands__img {
  width: 94px;
  height: 60px;
}

.brands__fa {
  margin-top: 80px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .brands {
    padding-left: 5%;
    padding-right: 5%;
  }
  .brands__box {
    width: 850px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .brands {
    padding-left: 5%;
    padding-right: 5%;
  }
  .brands__box {
    width: 565px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .brands {
    padding-left: 5%;
    padding-right: 5%;
  }
  .brands__box {
    width: 285px;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .brands {
    padding-left: 5%;
    padding-right: 5%;
  }
  .brands__box {
    width: 185px;
  }
}

.footer {
  height: 286px;
  background: #E9E9E9;
}

.footer__top {
  padding-top: 38px;
  padding-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__h2 {
  font-size: 30px;
  line-height: 36px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__input {
  width: 362px;
  height: 50px;
  border: 1px solid #363636;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  background: #E9E9E9;
  padding-left: 30px;
  margin-right: 30px;
}

.footer__input:focus {
  outline: none;
}

.footer__hr {
  background: #C4C4C4;
}

.footer__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  margin-top: 19px;
  margin-bottom: 26px;
}

.footer__nav {
  margin-top: 36px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__date {
  margin-left: 68px;
}

.footer__a {
  margin-right: 30px;
}
/*# sourceMappingURL=style.css.map */